html {
   border: solid;
   border-color: orange;
   border-width: 5px;
}

body {
   background-color: black;
   border: 0;
   margin: 0;
   padding: 0;
}

i {
   font-style: italic;
}

b {
   font-style: bold;
}

.video-container {
   position: relative;
   width: 80%;
   margin: auto;
   top: 0;
   left: 0;
}

.none {
   position: relative;
}

.boy1 img {
   position: absolute;
   z-index: 50;
   width: 300px;
   margin: 500px;
   margin-top: 370px;
   margin-left: 380px;
   align-items: center;
}

.boy2 img {
   position: absolute;
   z-index: 60;
   width: 300px;
   margin: 800px;
   margin-top: 640px;
}

h2 {
   position: absolute;
   background-color: rgba(160, 255, 222, .1);
   color: orange;
   font-size: 60px;
   width: 88%;
   height: 100%;
   text-align: left;
   z-index: 20;
   font-family: Poppins, sans-serif;
   padding: 800px 110px;
   line-height: 100px;
   word-spacing: .2px;
   text-transform: uppercase;
   font-style: italic;
   margin: auto;
}

.video1 {
   position: relative;
   margin: 0;
   width: 1900px;
   height: 1400px;
   bottom: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   color: white;
}

p {
   position: fixed;
   color: rgb(118, 216, 245);
   width: 90%;
   font-size: 108px;
   text-align: right;
   margin-top: 60px;
   right: 100px;
   z-index: 800;
   font-family: Poppins, sans-serif;
}

p:hover {
   color: orange;
}

nav {
   position: fixed;
   width: 100%;
   height: 1350px;
   text-align: right;
   margin-top: 200px;
   right: 100px;
   z-index: 40;
   font-family: Poppins, sans-serif;
   line-height: 40px;
   transition: 2s;
}

nav a {
   font-size: 42px;
   color: lightblue;
   text-decoration: none;
}

nav a:hover {
   color: orange;
   text-decoration: none;
   font-size: 39px;
}

.song-containers {
   width: 100%;
   height: 10000 px;
   margin: 0;
}

.imagecover p {
   position: absolute;
   font-size: 2rem;
   width: 100%;
   color: orange;
   text-align: center;
   font-family: Poppins, sans-serif;
}

.imagecover img {
   width: 640px;
   margin-top: 400px;
   align-items: center;
   margin-left: 110px;
   margin-bottom: 190px;
}

.intro a {
   position: relative;
   width: 1400px;
   margin: auto;
   background-color: transparent;
   height: 100px;
   color: orange;
   font-size: 15px;
   text-align: left;
   left: 107px;
   bottom: 110px;
   z-index: 10;
   font-family: Poppins, sans-serif;
   line-height: 24px;
}

.intro a {
   text-decoration: none;
   color: orange;
}

.intro a:hover {
   color: lightblue;
}

.reviewtitle h1 {
   position: absolute;
   background-color: transparent;
   width: 640px;
   color: lightblue;
   height: auto;
   text-align: left;
   font-size: 40px;
   padding: 20px 1000px 20px 110px;
   line-height: 28px;
   z-index: 80;
}

.songs h4 {
   position: relative;
   background-color: transparent;
   width: 640px;
   color: orange;
   height: auto;
   text-align: left;
   font-size: 20px;
   padding: 100px 1000px 0 110px;
   line-height: 28px;
   transition: 1s border;
   z-index: 700;
}

.songs a {
   text-decoration: none;
   color: orange;
}

.songs a:hover {
   text-decoration: none;
   color: lightblue;
}

.decend p {
   position: absolute;
   font-size: 2rem;
   width: 100%;
   color: orange;
   margin: auto;
   font-family: Poppins, sans-serif;
   z-index: 40;
}
