html {
   background: #fff;
   font-size: 1rem;
   font-family: Muli, sans-serif;
}

i {
   font-style: italic;
}

#container {
   margin: auto;
   width: 80%;
   height: 100vh;
}

#banner {
   position: relative;
   margin-top: 0;
   width: 100%;
   height: 240px;
}

h1 {
   position: absolute;
   font-family: Electrolize, sans-serif;
   text-align: left;
   font-size: 4.5rem;
   font-variant: small-caps;
   margin-top: 0;
   width: 80%;
   padding-top: 40px;
}

h2 {
   margin-top: 0px;
   font-size: 2rem;
   padding-top: 290px;
}

img {
   float: left;
   margin-top: 40px;
}

ul {
   float: right;
   margin-top: 110px;
   width: 270px;
   background: #fff;
}

p {
   margin-bottom: 40px;
   font-family: Muli, sans-serif;
}

#reviewtext {
   clear: both;
   background: #fff;
   padding-top: 40px;
   padding-bottom: 40px;
}

blockquote {
   font-family: Electrolize, sans-serif;
   font-size: 2.7rem;
   background: #36a9a4;
   padding: 1em 10px;
   float: right;
   margin-bottom: 40px;
}
