* {
   line-height: 3;
}

#band {

   display: block;
   width: 1000px;
   margin: auto;
}

body {
            background-color: black;
}

h1 {
            font-family:'Anton', sans-serif;
            font-size: 200px
}

h1 {
            text-align: center;
            margin-top: 16px 0,
            margin-bottom: 16px 0,
            color: white
}

body {
            color: white;
            font-family: 'Libre Baskerville', serif;
}





h2 {
            text-align: center;
            margin: 16px;
            border: 40px transparent;
            padding: 10px;
            font-family:'Anton', sans-serif;
            font-size: 120px
}

h2 {

            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
}


#container

h3 {
            font-weight: 700;
            margin-left: 400px

}
p {
   margin-left:  300px;
   margin-right:  300px;
   padding: 10px;
   border: 40px
   line line-height 60px
}

