
* {
   line-height: 1.5;
}

.banner {
background-color: white
}

.content-container {
   width: 80%;
   margin: auto;
   padding: 24px 0;
   color: black
 }



.band {

   margin: auto;
   display: flex;
   justify-content: center;
   height: 250px;
    transition-property: white opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

#container {
   text-align: center;
   width: 140px;
   line-height: 30px;
   display: block;

}



#songs {
   margin-left:  20%;
   margin-right:  40%;
   margin-top: 1%;
   margin-bottom: 5%;
   width: 130px;
    line-height: 20px;
   display: block;
   border: 25px
}



#container3 {
   display: inline-block;
}

body {
            background-color: black;
}

h1 {
            font-family:'Anton', sans-serif;
            font-size: 200px
}

h1 {
            text-align: center;
            margin-top: 16px 0,
            margin-bottom: 2px 0,
            color: white
}

body {
            color: white;
            font-family: 'Libre Baskerville', serif;
}


h2 {
            text-align: center;
            margin-left: 16px;
            margin-right: 16px;
            margin-top: 2px
            margin-bottom: 16px;
            padding: 5px;
            font-family:'Anton', sans-serif;
            font-size: 120px
}

h2 {

            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
}



hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



h3 {
            font-family:'Anton', sans-serif;
            font-size: 150px
            font-weight: 700;
            text-align: center;
            margin-left: 16px;
            margin-right: 16px;
            margin-top: 10px;


}
p {
   text-align: justify-all;
   margin-left:  20%;
   margin-right:  20%;
   padding: 10px;
   border: 40px
   line-height 30px;
}


h6 {
   font-family:'Anton', sans-serif;
   font-size border-style;
   margin-top: 0;
   margin-left:  20%;
   margin-right:  20%;

 }


h4 {
font-family:'Anton', sans-serif;
font-size: 100px;
line-height: 99px;
margin-left:  20%;
   margin-right:  15%;
   margin-top: 40px;
   margin-bottom: 3px;

 }
