/* @font-face {
   font-family: 'walter_turncoat';
   src:
      url('../fonts/WalterTurncoat-Regular.woff2') format('woff2'),
      url('../fonts/WalterTurncoat-Regular.woff') format('woff');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'rock_salt';
   src:
      url('../fonts/RockSalt-Regular.woff2') format('woff2'),
      url('../fonts/RockSalt-Regular.woff') format('woff');
   font-weight: 100;
   font-style: normal;
} */

/* everything above are CSS for fonts */

/* video {
   display: block;
   margin: 0 auto;
} */

.video {
   text-align: center;
}

/* everything above are about media and music */

nav + #Background {
   margin-top: 40px;
}

ul {
   list-style-type: lower-greek;
   /* margin-left: 140px; */
}

#Background {
   margin-top: 3em;
   margin-bottom: 3em;
}

#Album {
   margin-top: 3em;
   margin-bottom: 3em;
}

#Reviews {
   margin-top: 3em;
   margin-bottom: 3em;
}

#SocialMedia {
   margin-top: 3em;
   margin-bottom: 3em;
}

/* Everything above are CSS for the navigation bar */

html {
   background-color: #000;
}

h1 {
   text-align: center;
   font-size: 48px;
   font-variant: small-caps;
   font-family: 'Rock Salt', fantasy;
   font-weight: 400;
   color: #fff;
   border-radius: 20em;
   background-color: #000;
}

h2 {
   font-family: 'Rock Salt', fantasy;
   font-size: 28px;
   padding-left: 2em;
   color: #fff;
}

/* p.drop-cap:first-letter {
   font-size: 2.5em;
   font-weight: 400;
   float: none;
} */

p {
   font-family: 'Cabin', sans-serif;
   font-size: 16px;
   color: #fff;
   line-height: 2em;
   padding-left: 15em;
   padding-right: 15em;
}

hr {
   color: #fff;
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
}

.intro {
   text-align: center;
   font-size: 18px;
   font-family: 'Walter Turncoat', cursive;
   line-height: 3em;
}

.highlightbloodred {
   background-color: #bb0a1e;
}

.italic {
   font-style: italic;
}

.italicright {
   font-style: italic;
   text-align: right;
}

.twenty-eightpx {
   font-size: 28px;
}

.imagetext {
   color: #ccc;
   text-align: center;
   font-size: 16px;
   font-family: 'Walter Turncoat', cursive;
}

.center {
   text-align: center;
}

img.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
}

.img1 {
   float: left;
   display: block;
   margin-left: 12em;
   margin-right: 0;
   margin-top: 0;
   height: 270px;
   width: 472.5px;
}

.img2 {
   float: right;
   display: block;
   margin-left: 0;
   margin-right: 12em;
   margin-top: 0;
   height: 270px;
   width: 405px;
}

.wrapper {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.wrapper > div:first-child {
   margin-right: 15px;
}

.wrapper img {
   display: block;
   max-width: 100%;
}

.AlbumImage {
   background-image: url('../img/Dysnomia.png');
}
/*
.col-wrapper {
   width: 960px;
   margin: 0 auto;
}

.col {
   margin: 0 10px;
   float: left;
   display: inline;
}

.col-670 {
   width: 670px;
}

.col-250 {
   width: 250px;
} */

/* Style all font awesome icons */
/* .fa {
   text-align: center;
   text-decoration: none;
}

/* Add a hover effect if you want */
/* .fa:hover {
   opacity: 70%;
   background-color: #fff;
} */

/* Set a specific color for each brand */

/* Facebook */
/* .fa-facebook {
   text-align: center;
   width: 40px;
   background: #3b5998;
   color: white;
}

/* Twitter */
/* .fa-twitter {
   text-align: center;
   width: 40px;
   background: #55acee;
   color: white;
} */

.SocialMedia {
   text-align: center;
   font-size: 30px;
   color: #fff;
}

footer {
   font-size: 16px;
   color: #000;
   background-color: #fff;
   text-align: center;
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
}

.blackfont {
   color: #000;
}

.audio {
   text-align: center;
}

blockquote {
   color: #fff;
   font-family: 'Walter Turncoat', cursive;
   font-size: 16px;
   text-align: left;
   line-height: 2em;
   padding-left: 15em;
   padding-right: 15em;
}
